@import url('https://fonts.googleapis.com/css?family=Orbitron:800|Montserrat:700&display=swap');

@plugin 'tailwindcss-animate';

@import "tailwindcss";

@import "tw-animate-css";

* {
  cursor: url("/mouse.png") 16 0, auto;
}

::view-transition-old(root), ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}

/* Smooth theme transition */
html, body {
  transition: background-color 0.4s ease, color 0.4s ease;
  width: 100%;
  height: 100%;
}

body {
  color-scheme: light dark;
}
* {
  transition: background-color 0.3s, color 0.3s;
}