@import url(https://fonts.bunny.net/css?family=aclonica:400|andada-pro:600|b612-mono:400);
@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&family=Liter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  font-family: 'Balsamiq Sans', sans-serif;
}

*,
*::before,
*::after {
  font-family: inherit;
  font-weight: 400 !important;
}

body{
  color: white;
}